setuptools==60.5.0
thrift==0.15.0
python-keystoneclient
openstacksdk ==0.61.0
deprecated == 1.2.13
Click==8.0.3
ansible==5.2.0
flake8==4.0.1
paramiko==2.9.2
ruamel.yaml==0.17.20
pyvim==3.0.2
redis==4.1.1
requests==2.27.1
pyyaml==6.0
pre-commit==2.17.0
types-PyYAML==6.0.4
types-redis==4.1.15
