name: autoupdate
on:
  push:
    branches:
      - dev
jobs:
  autoupdate:
    name: autoupdate
    runs-on: ubuntu-18.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUBSECRET2 }}"
          MERGE_MSG: "Branch was auto-updated."
          MERGE_CONFLICT_ACTION: "ignore"
          EXCLUDED_LABELS: "dependencies"
